* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  width: 100%;
  padding: 1.3rem 10%;
  background-color: #f1f1f1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -5px 14px 39px -7px rgba(0, 0, 0, 0.75);
}

.navbar {
  padding: 20px auto;
  float: right;
}

.logo {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: green;
}

.navbar a {
  margin-left: 50px;
  padding: 7px 13px;
  text-decoration: none;
  color: green;
  font-size: 1.1rem;
  font-weight: 500;
}

.navbar a:first-child {
  margin-left: 0;
}

.navbar a:hover {
  background: green;
  border-radius: 5px;
  color: aliceblue;
}

.up i {
  display: none;
}

@media screen and (max-width: 1279px) {
  .header {
    background-color: green;
    height: 150px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .logo {
    color: aliceblue;
    display: flex;
  }

  .navbar a {
    color: aliceblue;
  }

  .navbar a:hover {
    background: aliceblue;
    border-radius: 5px;
    color: green;
  }

  .up {
    width: 100%;
    display: flex;
    padding: 0 13px;
    justify-content: space-between;
    align-items: center;
  }
  .up i {
    display: block;
    color: aliceblue;
    font-size: 1.2rem;
  }
  .up i:hover {
    cursor: pointer;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

@media screen and (max-width: 902px) {
  .header {
    padding: 1.3rem 1%;
    width: 100%;
    height: max-content;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 1rem 2%;
  }
  .navbar {
    margin-top: 1%;
    flex-direction: column;
    align-items: center;
  }
  .navbar a {
    margin: 2% 0;
    padding: 1% 3%;
  }
}
